<!-- Formulario con validaciones mejoradas -->
<div class="p-6 bg-white rounded-lg shadow-sm" [formGroup]="formStudent">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <!-- Campo curp -->
    <div class="col-span-1">
      <label class="block text-xs font-medium text-gray-600 mb-1">
        CURP <span class="text-red-500">*</span>
      </label>
      <input pInputText id="alphanumeric" pKeyFilter="alphanum"
        placeholder="CURP"
        formControlName="curp"
        class="w-full px-3 py-2 text-sm border rounded-md outline-none transition duration-150"
        [class.border-red-400]="campoInvalido('curp')"
        [class.bg-red-50]="campoInvalido('curp')"
        [class.border-gray-300]="!campoInvalido('curp')"
      />

      @if (campoInvalido('curp')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('curp')?.errors?.['required']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El curp es obligatorio</span>
            </div>
          }
        </div>
      }
      @if (campoInvalido('curp')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('curp')?.errors?.['pattern']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El curp es debe tener 18 caracteres</span>
            </div>
          }
        </div>
      }
    </div>

    <!-- Campo semestre_actual -->
    <div class="col-span-1">
      <label class="block text-xs font-medium text-gray-600 mb-1">
        Semestre <span class="text-red-500">*</span>
      </label>
      <!--
      <input
        type="text"
        placeholder="Semestre"
        formControlName="semestre_actual"
        class="w-full px-3 py-2 text-sm border rounded-md outline-none transition duration-150"
        [class.border-red-400]="campoInvalido('semestre_actual')"
        [class.bg-red-50]="campoInvalido('semestre_actual')"
        [class.border-gray-300]="!campoInvalido('semestre_actual')"
      /> -->

      <p-select
        [options]="SEMESTER"
        formControlName="semestre_actual"
        class="w-full transition duration-150"
        placeholder="Seleccione Semestre"
        optionLabel="numero"
        optionValue="id"
        [invalid]="campoInvalido('semestre_actual')"
        [virtualScroll]="true"
        [virtualScrollItemSize]="38"
        appendTo="body"
        [filter]="true"
        filterBy="numero"
        [loading]="loading"
      />

      @if (campoInvalido('semestre_actual')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('semestre_actual')?.errors?.['required']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El semestre_actual es obligatorio</span>
            </div>
          }
        </div>
      }
    </div>

    <!-- Campo Nombre -->
    <div class="col-span-1">
      <label class="block text-xs font-medium text-gray-600 mb-1">
        Nombre <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        placeholder="Nombre"
        formControlName="first_name"
        class="w-full px-3 py-2 text-sm border rounded-md outline-none transition duration-150"
        [class.border-red-400]="campoInvalido('first_name')"
        [class.bg-red-50]="campoInvalido('first_name')"
        [class.border-gray-300]="!campoInvalido('first_name')"
      />

      @if (campoInvalido('first_name')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('first_name')?.errors?.['required']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El first_name es obligatorio</span>
            </div>
          }
        </div>
      }
    </div>

    <!-- Campo last_name -->
    <div class="col-span-1">
      <label class="block text-xs font-medium text-gray-600 mb-1">
        Apellidos <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        placeholder="Apellidos"
        formControlName="last_name"
        class="w-full px-3 py-2 text-sm border rounded-md outline-none transition duration-150"
        [class.border-red-400]="campoInvalido('last_name')"
        [class.bg-red-50]="campoInvalido('last_name')"
        [class.border-gray-300]="!campoInvalido('last_name')"
      />

      @if (campoInvalido('last_name')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('last_name')?.errors?.['required']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El last_name es obligatorio</span>
            </div>
          }
        </div>
      }
    </div>

     <!-- Campo numero_control -->
    <div class="col-span-1">
      <label class="block text-xs font-medium text-gray-600 mb-1">
        Número Control <span class="text-red-500">*</span>
      </label>
      <input pInputText id="alphanumeric" pKeyFilter="alphanum"
        placeholder="Número Control"
        formControlName="numero_control"
        class="w-full px-3 py-2 text-sm border rounded-md outline-none transition duration-150"
        [class.border-red-400]="campoInvalido('numero_control')"
        [class.bg-red-50]="campoInvalido('numero_control')"
        [class.border-gray-300]="!campoInvalido('numero_control')"
      />

      @if (campoInvalido('numero_control')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('numero_control')?.errors?.['required']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El Número Control es obligatorio</span>
            </div>
          }
        </div>
      }
      @if (campoInvalido('numero_control')) {
        <div class="mt-1.5 text-xs text-red-500">
          @if (formStudent.get('numero_control')?.errors?.['pattern']) {
            <div class="flex items-start gap-1.5">
              <i class="pi pi-times-circle text-red-400 text-xs mt-0.5"></i>
              <span>El Número Control debe tener 14 caracteres</span>
            </div>
          }
        </div>
      }
    </div>

    <!-- Botones -->
    <div class="col-span-1 md:col-span-2 mt-2">
      <div class="flex justify-between items-center border-t border-gray-100 pt-4">
        <p-button
          label="Cancelar"
          severity="secondary"
          (click)="onCancel()"
          styleClass="p-button-sm p-button-text"
          [outlined]="true"
        />
        <p-button
          label="Guardar"
          severity="info"
          (click)="onSave()"
          styleClass="p-button-sm"
          [loading]="false"
        />
      </div>
    </div>
  </div>
</div>
