<!-- student.component.html -->
<div class="card flex justify-center gap-2">
  <p-confirmdialog />
</div>

<div class="bg-white rounded-xl shadow-md p-4 md:p-6">
  <div
    class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-3 mb-4 md:mb-6"
  >
    <h2 class="text-xl font-semibold">Gestión de Estudiante</h2>
    <button
      class="text-sm bg-blue-600 text-white px-3 md:px-4 py-1.5 md:py-2 rounded-lg hover:bg-blue-700 transition w-full sm:w-auto"
      (click)="addStudent()"
    >
      + Nuevo Estudiante
    </button>
  </div>

  <app-reusable-table
    [data]="students()"
    [loading]="loading()"
    [totalRecords]="totalRecords() || 0"
    [first]="(currentPage() * pageSize()) || 0"
    [rows]="pageSize() || 10"
    [config]="tableConfig"
    (loadData)="loadStudents($event)"
    (onEdit)="onEditStudent($event)"
    (onDelete)="onDeleteStudent($event)"
    (onView)="onViewStudent($event)"
  />
</div>